<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<div th:replace="fragments :: page-header"></div>

<h1 th:text="${title}" class="page-title"></h1>
<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Tag </label>
        <input class="form-control" th:field="${tag.name}" />
        <span th:errors="${tag.name}" class="error"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Add Tag" />
</form>

</body>
</html>