<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>

<h1 th:text="${title}"></h1>
<form method="post">
    <label> Username
    <input type="text" name="username">
    </label>

    <label> Password
    <input type="password"  name="password">
    </label>

    <label>Confirm Password
    <input type="password"  name="confirmPassword">
    </label>

    <input type="submit" class="btn btn-primary" value="Register" />


</form>
</body>

</html>