<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script  th:inline="javascript"> let ingredients = /*[[${ingredients}]]*/ 'ingredients'; </script>
<script>   $(document).ready(function() {
       $("#ingredientType").change(function() {
           ingredientTypeSelected();
       });
   });
       function ingredientTypeSelected() {
       let selectedType = $("#ingredientType").val();
       let s;
       for (i=0;i<ingredients.length;i++) {
           if (ingredients[i].ingredientType == selectedType) {
               s +=  '<option value="' + ingredients[i].id + '">'+ ingredients[i].name+ '</option>';
             }
             $('#ingredientName').html(s);
       }
   } function repeatFormElement(current){
    $(current).parents('.form-list').append($(current).parents('.form-row').clone());

   }
 </script>

<body class="container">

<div th:replace="fragments :: page-header"></div>

<h1 th:text="${title}" class="page-title"></h1>

<form method="post">
    <div class="form-group">
        <label>Name
            <input class="form-control" type="text" name="name" >
        </label>
    </div>

    <div class="form-list" id="ingredientForm">
        <div class="form-row">
            <label th:for="ingredient" id="ingredient">Ingredient</label>

                <label th:for="ingredientType">Ingredient Type</label>
                <select id="ingredientType" name >
                    <option value="">Select Ingredient Type</option>
                    <option th:each="ingredientType : ${ingredientTypes}"
                            th:text="${ingredientType.displayName}"
                            th:value="${ingredientType}"></option>
                </select>


                <label th:for="ingredientName">Ingredient Name</label>
                <select id="ingredientName">
                    <option>Select Ingredient</option>
                </select>



            <a th:href="@{'/custom-ingredients/add'}">Add Custom Ingredient</a>


                <label th:for="ingredientAmount">Ingredient Amount</label>
                <select id="ingredientAmount">
                    <option value="">Select Ingredient Amount</option>
                    <option th:each="ingredientAmount : ${ingredientAmounts}"
                            th:text="${ingredientAmount.displayName}"
                            th:value="${ingredientAmount}">Select Ingredient Amount</option>
                </select>

            <div class="form-group">
                <button type="button" onclick="repeatFormElement(this)">+ Add Another Ingredient</button>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label th:for="tags">Tags</label>
        <th:block th:each="tag : ${tags}">
            <input type="checkbox" name="tags" th:value="${tag.id}">
            <label th:text="${tag.name}"></label>
        </th:block>
        <a th:href="@{'/tags/add'}">Add Tag</a>
    </div>
</form>
<script type="text/javascript">
<!--    $(document).ready(function) {-->
<!--    $.ajax({-->
<!--    url: 'getIngredientsByType',-->
<!--    method: "GET",-->
<!--    data {operation: 'ingredientType'},-->
<!--    success: function (data, textStatus, jqXHR){-->
<!--    console.log(data)-->
<!--    let obj = $.parseJSON(data);-->
<!--    $.each(obj, function(value){-->
<!--    $('#ingredientType').append('<option value="' + value.id + '">' + value.name + '</option>')-->
<!--    });-->
<!--    $('select').formSelect();-->
<!--    },-->
<!--                    cache: false-->
<!--                });-->


<!--                $('#ingredientType').change(function () {-->
<!--                    $('#ingredient').find('option').remove();-->
<!--                    $('#ingredient').append('<option>Select Ingredient</option>');-->


<!--                    let ingType = $('#ingredientType').val();-->
<!--                    let data = {-->
<!--                        operation: "ingredient",-->
<!--                        id: ingType-->
<!--                    };-->

<!--                    $.ajax({-->
<!--                        url: 'getIngredientsByType',-->
<!--                        method: "GET",-->
<!--                        data: data,-->
<!--                        success: function (data, textStatus, jqXHR) {-->
<!--                            console.log(data);-->
<!--                            let obj = $.parseJSON(data);-->
<!--&lt;!&ndash;                            $.each(obj, function (value) {&ndash;&gt;-->
<!--                                $('#ingredient').append('<option value="' + value.id + '">' + value.name + '</option>')-->
<!--                            });-->
<!--                            $('select').formSelect();-->
<!--                        },-->

<!--                        cache: false-->
<!--                    });-->
<!--                });-->

<!--$(document).ready(function() {-->
<!--   $('#ingredientType').change(function () {-->
<!--   $('#ingredient').find('option').remove();-->
<!--   $('#ingredient').append('<option>Select Ingredient</option>');-->


<!--        let data = $('#ingredientType').val();-->

<!--      	$.ajax({-->
<!--        url : 'getIngredientsByType',-->
<!--        data : data,-->
<!--        success : function(data) {-->
<!--        	let result = JSON.parse(data);-->
<!--        	console.log(result);-->
<!--        	let (let i = 0; i < result.length; i++){-->
<!--        	  s += '<option value="' + result[i].id + '">'+ result[i].name+ '</option>';-->
<!--        	}-->
<!--        	$('#ingredient').html(s);-->
<!--        }-->
<!--      });-->

<!--     //reset data-->
<!--     $('#ingredient').html(s);-->


<!--   });-->
</script>

</body>



</html>