<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: page-header"></div>

<h1 th:text="${title}" class="page-title"></h1>

<div class="container col-md-4 col-md-offset-4" >

  <table class="recipes">
    <tr th:each="recipe : ${recipes}">
      <td>

        <p th:text="${'Name: ' + recipe.name}"></p>
        <p>
          Ingredients:
        <ul th:each="ingredient : ${recipe.recipeIngredients}">
          <li>
            <a th:text="${ingredient.ingredientAmount.displayName + ' ' + ingredient.ingredient.name}"></a>
          </li>
        </ul>
        </p>
      </td>
    </tr>
  </table>

</div>
</body>
</html>