<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>

<h1 th:text="${title}" class="page-title"></h1>

<div>
<table class="centeredTable">
    <tr>
        <th colspan="100%">View Recipes By Spirit</th>
    </tr>
    <tr>
        <td><a th:href="@{/list-recipes/results(choice=all)}">All</a></td>
        <td th:each="spirit : ${spirits}"><a th:href="@{/list-recipes/results(choice=${spirit.name})}" th:text="${spirit.name}"></a></td>
    </tr>
    <tr>
        <th colspan="100%">View Recipes By Tag</th>
    </tr>
    <tr>
        <td colspan="100%" align="center" class="chooseTag">
        <select id="tagId" name="tagId" onchange="listByTag(this)">
            <option value="">Select Tag</option>
            <option th:each="tag : ${tags}"
                    th:text="${tag.name}"
                    th:value="${tag.name}"></option>
        </select>
<!--            <a th:href="@{/search}"><button class="btn btn-primary">Go</button></a>-->
            <a id="chosenTagButton"></a>
        </td>
    </tr>
</table>
</div><br>
<br>

<div>
<table class="centeredTable">
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.name}"></td>
        <td align="right"><a th:href="@{/update}">Edit</a></td>
    </tr>
</table>
</div>

</body>
</html>