<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>

<h1 th:text="${title}" class="page-title"></h1>

<table class="centeredTable">
    <tr>
        <th colspan="100%">View Recipes By Spirit</th>
    </tr>
    <tr>
        <td th:each="spirit : ${spirits}"><a th:href="@{/list-recipes/results(choice=${spirit.name})}" th:text="${spirit.name}"></a></td>
    </tr>
    <tr>
        <th colspan="3">View Recipes By Tag</th>
    </tr>
    <tr>
        <td colspan="3" align="center">
        <select id="tagId" name="tagId">
            <option th:each="tag : ${tags}"
                    th:text="${tag.name}"
                    th:value="${tag.name}">Select Tag</option>
        </select>
<!--            <a th:href="@{'/list-recipes/results(choice=${tag.name})}">-->
<!--                <button class="btn btn-primary">Go</button>-->
<!--            </a>-->
        </td>
    </tr>
</table>

<table class="centeredTable">
    <caption th:text="${listBy}"></caption>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.name}"></td>
        <td><a th:href="@{/update}">Edit</a></td>
    </tr>
</table>


</body>
</html>