<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: page-header"></div>

<h1 th:text="${title}" class="page-title"></h1>

<div class="container col-md-4 col-md-offset-4" >
    <form th:action="@{/search/results}" method = "post">
        <div class="form-group">

            <label th:for="searchTerm">Keyword:</label>
            <input class="form-control" type="text" name="searchTerm" id="searchTerm" />
        </div>

        <input type="submit" class="btn btn-primary" value="Search" />
    </form><br>
    <br>

    <table class="centeredTable">
        <tr th:each="recipe : ${recipes}">
            <td><a th:href="'/list-recipes/' + ${recipe.name}" th:text="${recipe.name}"></a></td>
            <td align="right"><a th:href="@{/update}">Edit</a></td>
        </tr>
    </table>
</div>

</body>
</html>